main {
    margin-top: 7.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

.boxContainer {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}

@media only screen and (min-width: 90rem) {
    main {
        margin-top: 64px;
        flex-direction: row;
        gap: 3rem;
    }

    .boxContainer {
        gap: 3rem;
    }
}